################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
[Vv]isual[Ss]tudio/
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

/src/SheildSureAPI/ShieldSure.Claim/appsettings.json
/src/SheildSureAPI/ShieldSure.Gateway/appsettings.json
/src/SheildSureAPI/ShieldSure.Identity/appsettings.json
/src/SheildSureAPI/ShieldSure.Notification/appsettings.json
/src/SheildSureAPI/ShieldSure.Policy/appsettings.json
